<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link type="text/css" href="{{ request.url_for('static', path='css/styles.css') }}" rel="stylesheet" />
    {% block title %}
    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>FastAPI Project</title>
    {% endif %}
    {% endblock %}
</head>
<body>
    {% block mainmenu %}
    <ul class="mainmenu">
        <li><a href="{{ request.url_for('index') }}" class="button">Main page</a></li>

        {% if user %}
            {% if user['role'] == 'admin' %}
                <li><a href="{{ request.url_for('admin_tools') }}" class="button">Admin Tools</a></li>
            {% elif user['role'] == 'manager' %}
                <li><a href="{{ request.url_for('manager_tools') }}" class="button">Manager Tools</a></li>
            {% endif %}

            <li><a href="{{ request.url_for('add_post') }}" class="button">Add post</a></li>
            <li>
                <form action="{{ request.url_for('logout') }}" method="post" style="display: inline;">
                    <button type="submit" class="button">Logout</button>
                </form>
            </li>
        {% else %}
            <li><a href="{{ request.url_for('register') }}" class="button">Register</a></li>
            <li><a href="{{ request.url_for('login') }}" class="button">Login</a></li>
        {% endif %}
    </ul>
    {% endblock %}

    <div class="clear"></div>
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>